/* GENERAL */

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
}

.small.button {
  font-size: 14px;
}

.big.button {
  font-size: 20px;
  font-weight: 600;
}
.big.button span {
  margin-right: 5px;
}

.button.white {
  background-color: white;
  color: rgba(35,39,42,1) ;
}

.button.black {
  background-color: rgba(35,39,42,1);
  color: white ;
}

.red-content h2  {
  font-family: 'Open Sans', sans-serif;font-size:48px;letter-spacing:0;font-style:normal;font-weight:800;color: rgba(35,39,42,1);
  margin-bottom: 40px;
}

/* header + jumbotron */

header {
  display: flex;
  background-color: #3161e0;
}

header .upper-navbar {
  display: flex;
  min-height: 80px;
}

header .upper-logo {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
}

header nav {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  min-height: 30px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-right: 30px;
}

header nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header .login {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 25%;
  height: 100%;
}

/* jumbotron */

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.jumbo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 50%;
}

.jumbo-text h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-bottom: 40px;
}

.jumbo-text p {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.jumbo-text .buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
/* main + calltoaction */

main .background {
  display: flex;
  align-items: center;
  margin: 70px 0;
}

main .white-bg {
  background-color: white;
}

main .grey-bg {
  background-color: grey;
  padding: 50px 0;
}

main .content-box {
  display: flex;
  justify-content: space-between;
}

.content-box .blue-content {
  display: flex;
  width: 65%;
  height: 100%;
  margin: 0 30px;
}

.blue-content img {
  width: 100%;
  height: 100%;
}


.content-box .red-content {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  height: 100%;
  padding: 20px;
}



main .pre-footer {
  display: flex;
  align-items: center;  
  height: 600px;
}

main .pre-footer .big-box {
  display: flex;
  flex-direction: column; 
  height: 90%;
}

.pre-footer .big-box .text-container {
  display: flex;
  height: 30%;
  background-color: green;
  border: 1px dotted black;
}


.pre-footer .big-box .img-container {
  display: flex;
  height: 40%;
  background-color: green;
  border: 1px dotted black
}

.pre-footer .big-box .calltoaction {
  display: flex;
  height: 30%;
  background-color: green;
  border: 1px dotted black
}

/* footer */

hr {color: white;}

footer {
  height: 450px;
  background-color: black;
}

footer .ending {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer .last-box {
  display: flex;
  margin: 10px 0;
  height: 80%;
  width: 100%;
  background-color: lightsalmon;
}

footer .last-box .lower-main-content{
  display: flex;
  flex-grow: 1.5;
  border: 1px dotted black;
  background-color: blueviolet;
}

footer .last-box .lower-side-content{
  display: flex;
  flex-grow: 1;
  border: 1px dotted black;
}

footer .lastlast-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 10%;
  width: 100%;
  background-color: lightyellow;
}

footer .lastlast-box .lower-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  min-width: 50px;
  background-color: brown;
}

footer .lastlast-box .register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  min-width: 50px;
  background-color: brown;
}
