/* GENERAL */

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h2,h3,p  {
  font-family: 'Open Sans', sans-serif;font-size:40px;letter-spacing:0;font-style:normal;font-weight:800;color: rgba(35,39,42,1);
  margin-bottom: 40px;
}

h3{
  font-size: 28px;
  font-weight: 600;
}

p {
  font-size: 20px;
  font-weight: 600 ;
}

.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
}

.small.button {
  font-size: 14px;
}

.big.button {
  font-size: 20px;
  font-weight: 600;
}
.big.button span {
  margin-right: 5px;
}

.button.white {
  background-color: white;
  color: rgba(35,39,42,1) ;
}

.button.black {
  background-color: rgba(35,39,42,1);
  color: white ;
}

.button.violet {
  background-color: #8ea1e1;
  color: white ;
}


/* header + jumbotron */

header {
  display: flex;
  background-color: #3161e0;
}

header .upper-navbar {
  display: flex;
  min-height: 80px;
}

header .upper-logo {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
}

header nav {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  min-height: 30px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-right: 30px;
}

header nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header .login {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 25%;
  height: 100%;
}

/* jumbotron */

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.jumbo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 50%;
}

.jumbo-text h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-bottom: 40px;
}

.jumbo-text p {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.jumbo-text .buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
/* main + calltoaction */

main .background {
  display: flex;
  align-items: center;
  margin: 70px 0;
}

main .white-bg {
  background-color: white;
}

main .grey-bg {
  background-color: grey;
  padding: 50px 0;
}

main .content-box {
  display: flex;
  justify-content: space-between;
}

.content-box .blue-content {
  display: flex;
  width: 65%;
  height: 100%;
  margin: 0 30px;
}

.blue-content img {
  width: 100%;
  height: 100%;
}


.content-box .red-content {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  height: 100%;
  padding: 20px;
}



/* prefooter */

main .pre-footer {
  display: flex;
  align-items: center;  
}

main .pre-footer .big-box {
  display: flex;
  flex-direction: column; 
}

.pre-footer .big-box .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.pre-footer .big-box .img-container {
text-align: center;
}

.pre-footer .big-box .calltoaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pre-footer .big-box .calltoaction h3 {
  background-image: url(../img/stars.svg);
  background-size: 100%;
  width: 550px;
  padding: 7px 30px;
}

/* footer */

hr {color: white;}

footer {
  background-color: #23272a;
}

footer .ending {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer .last-box {
  display: flex;
  margin: 10px 0;
  height: 80%;
  width: 100%;
}

footer .last-box .lower-main-content{
  flex-grow: 1.5;
}

footer .last-box .lower-main-content h3 {
  color: #7086d6;
  font-weight: 800;
  margin: 10px 0;
}

footer .last-box .lower-main-content .tenda{
height: 10px;
}

.tenda img {
  height: 100%;
}

.tenda span {
  font-size: 8px;
  color: white;
}

.last-box i {
  color: white;
  margin-top: 30px;
  margin-right: 20px;
}

footer .last-box .lower-side-content{
  display: flex;
  flex-grow: 1;
  margin: 0 30px;
}

.lower-side-content ul {
  list-style: none;
  margin-top: 20px;
}

.lower-side-content ul li {
  margin-bottom: 20px;
}

.lower-side-content ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.lower-side-content ul li a:hover {
  text-decoration: underline;
}

#different{
  color: #7086d6;
}

footer .lastlast-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  width: 100%;
}

footer .lastlast-box .lower-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .lastlast-box .register {
  display: flex;
  align-items: center;
  justify-content: center;
}
